@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

body {
	font-family: 'Roboto Condensed', sans-serif;
	background-color: black;
	color: white;
	margin: 25px;
}

.inline-element {
	display: inline;
}